.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.album-header{
    color: var(--color-white);
}
.toggle{
    color: var(--color-primary);
    cursor: pointer;
}
.cardalbum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:32px;
    height:232px;
    cursor: pointer;
}
.section{
    margin:10px 25px 10px 25px;
}
