:root{
  --color-primary:#34C94B;
  --color-black:#121212;
  --color-white:#FFFFFF;
}

*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
body{
  background-color: var(--color-black);
  font-family:'Poppins',sans-serif ;
}